.venv
node_modules
dist
build
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
.env.local
.env.*.local
*.DS_Store
.idea
.vscode
*.sublime-projectx
*.sublime-workspace
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.zip
*.tar.gz
*.egg
*.whl
